html,
body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  background-color: var(--bg-body);
}


#root {
  min-height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
}


.container-principal {
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
  padding: 40px 24px;
  flex: 1;
}